PORT=5000
DATABASE_URL=postgres://postgres:postgres@db:5432/filesharing
CORS_ORIGIN=*
MAX_FILE_SIZE_BYTES=104857600
STREAM_BUFFER_BYTES=262144
DELETE_WINDOW_MINUTES=2
DOWNLOAD_USERS_JSON="[{\"username\":\"Ocen\",\"password\":\"12345\"},{\"username\":\"Liz\",\"password\":\"54321\"},{\"username\":\"Matt\",\"password\":\"1100211Matt.\"},{\"username\":\"Mwiza\",\"password\":\"Mwiza\"}]"
